# ---------- PRODUÇÃO ----------
# JWT_SECRET=YOUR_SECRET
# JWT_ISSUER=YOUR_ISSUER
#
# ACTIVE_PROFILE=prod
#
# DB_URL=jdbc:postgresql://HOST:PORT/DATABASE
# DB_USERNAME=YOUR_USERNAME
# DB_PASSWORD=YOUR_PASSWORD
#
# ---------- DESENVOLVIMENTO ----------
# ACTIVE_PROFILE=dev
#
# JWT_SECRET=secret
# JWT_ISSUER=issuer
#
# ---------- HOMOLOCAÇÃO ----------
# ACTIVE_PROFILE=hml
#
# JWT_SECRET=secret
# JWT_ISSUER=issuer
#
# DB_DATABASE=impacthub
# DB_USERNAME=postgres
# DB_PASSWORD=postgres

