# ---------- PRODUÇÃO ----------
# JWT_SECRET=
# JWT_ISSUER=
# DB_URL=
# DB_USERNAME=
# DB_PASSWORD=
#
# REDIS_URL=
# REDIS_PASSWORD=
#
# ---------- DESENVOLVIMENTO ----------
#JWT_SECRET=
#JWT_ISSUER=
#
# ---------- HOMOLOCAÇÃO ----------
# JWT_SECRET=
# JWT_ISSUER=
# DB_DATABASE=
# DB_USERNAME=
# DB_PASSWORD=

